
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Open-sans.ttf') format("truetype");
}

 body {
  margin: 0;
  font-family: "Open Sans",sans-serif;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  text-align: left;
  background-color: #d9e0e7;
}

a {
  font-family: "Open Sans",sans-serif !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 8px
}

p {
  margin-top: 0;
  margin-bottom: 15px
}

html {
  height: 100%
}

body {
  height: 100%;
  letter-spacing: 0;
}

b {
  font-weight: 700
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: 60%;
  font-weight: 400;
  color: #6f8293
}

a:focus {
  outline: 0;
}

.footer {
  z-index: 1020;
  padding: 10px 0;
  margin: 0 30px 0 250px;
  border-top: 1px solid #c6ced5;
  line-height: 20px;
  font-weight: 600;
  color: #4e5c68;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1020;
  margin-bottom: 0;
  padding: 0;
  -webkit-transition: box-shadow .2s linear;
  -moz-transition: box-shadow .2s linear;
  -ms-transition: box-shadow .2s linear;
  -o-transition: box-shadow .2s linear;
  transition: box-shadow .2s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}


.header .navbar-toggle {
  position: relative;
  padding: 10px;
  margin-right: 10px;
  margin-left: auto;
  background-color: transparent;
  background-image: none;
  border: none;
  outline: 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.header .navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.header .navbar-toggle .icon-bar+.icon-bar {
  margin-top: 4px
}

.header .navbar-toggle:hover {
  background: 0 0;
  opacity: .75;
}

.header .navbar-toggle.pull-left {
  margin-left: 10px;
  margin-right: 0;
}

.header .navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}


.header .navbar-brand {
  padding: 10px 20px;
  height: 50px;
  font-weight: 100;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
}

.header .navbar-brand b {
  font-weight: 700;
}

.header .navbar-brand .navbar-logo {
  margin-right: 10px;
  background: #00acac;
  border: 10px solid transparent;
  border-color: transparent rgba(0, 0, 0, .15) rgba(0, 0, 0, .3);
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.header .navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}



.header .navbar-nav>li {
  position: relative;
}

.header .navbar-nav>li>a {
  display: block;
  text-decoration: none;
  line-height: 20px;
  padding: 15px;
  border: none;
}

.header .navbar-nav>li>a .label {
  position: absolute;
  top: 8px;
  right: 5px;
  display: block;
  background: #00acac;
  line-height: 12px;
  font-weight: 600;
  color: #fff;
  padding: 3px 6px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

.header .navbar-nav>li>a i {
  top: 1px;
  position: relative;
  font-size: 16px
}

.header .navbar-nav>li>a:focus,
.header .navbar-nav>li>a:hover {
  opacity: .75
}

.header .navbar-nav>li>a.icon i {
  font-size: 24px;
  height: 24px;
  margin: -2px 0;
  display: block
}

.header .navbar-nav>li.active>a {
  background: #f2f3f4;
  opacity: 1
}

.header .navbar-nav>li.dropdown .dropdown-menu {
  margin: 0
}

.header .navbar-nav>li.dropdown.dropdown-lg {
  position: static
}

.header .navbar-nav>li.dropdown.dropdown-lg .dropdown-menu {
  left: 20px!important;
  right: 20px!important;
  padding: 20px;
  -webkit-transform: none!important;
  -moz-transform: none!important;
  -ms-transform: none!important;
  -o-transform: none!important;
  transform: none!important
}

@media (min-width:768px) {
  .header .navbar-nav>li.dropdown.dropdown-lg .dropdown-menu {
    top: 100%!important
  }
}

@media (max-width:767.98px) {
  .header .navbar-nav>li.dropdown.dropdown-lg .dropdown-menu {
    overflow: scroll;
    top: 101px!important;
    max-height: calc(100vh - 101px)
  }
}

.header .navbar-nav>li.dropdown.dropdown-lg .dropdown-menu.dropdown-menu-lg .nav>li>a {
  padding: 0;
  background: 0 0;
  line-height: 24px
}

.header .navbar-nav>li.show>a,
.header .navbar-nav>li.show>a:focus,
.header .navbar-nav>li.show>a:hover {
  background: 0 0;
  color: #2d353c;
  opacity: 1
}

.header .navbar-nav>li.divider {
  height: 34px;
  margin-top: 10px;
  background: #f2f3f4;
  width: 1px
}

.header .navbar-nav.navbar-right {
  margin-left: auto
}

.header .navbar-form {
  padding: 0 15px;
  margin: 9px 0
}

@media (max-width:767.98px) {
  .header .navbar-form {
    padding-left: 5px;
    padding-right: 5px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
  }
}

.header .navbar-form .form-group {
  margin: 0;
  position: relative
}

.header .navbar-form .form-control {
  width: 220px;
  padding: 5px 15px;
  height: 32px;
  background: #f2f3f4;
  border-color: #f2f3f4;
  -webkit-border-radius: 30px;
  border-radius: 30px
}

@media (max-width:767.98px) {
  .header .navbar-form .form-control {
    width: 100%
  }
}

.header .navbar-form .form-control:focus {
  width: 300px;
  border-color: #f2f3f4;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-animation: navbar-input-expand .2s;
  -moz-animation: navbar-input-expand .2s;
  -ms-animation: navbar-input-expand .2s;
  -o-animation: navbar-input-expand .2s;
  animation: navbar-input-expand .2s
}

@media (max-width:767.98px) {
  .header .navbar-form .form-control:focus {
    width: 100%;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none
  }
}

.header .navbar-form .btn-search {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  background: 0 0;
  -webkit-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center
}

.header .navbar-form .btn-search>i[class*=ion-] {
  font-size: 22px;
  display: block
}

.header .navbar-user img {
  float: left;
  width: 30px;
  height: 30px;
  margin: -5px 10px -5px 0;
  -webkit-border-radius: 30px;
  border-radius: 30px
}

.header .navbar-user .image {
  float: left;
  width: 30px;
  height: 30px;
  margin: -5px 10px -5px 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-border-radius: 30px;
  border-radius: 30px
}

.header .navbar-user .image.image-icon {
  font-size: 22px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.header .navbar-user .image.image-icon i {
  float: none;
  display: block;
  font-size: 22px;
  text-align: center;
  width: auto;
  margin: 0 auto -8px
}

.header .navbar-language .flag-icon {
  font-size: 15px;
  margin-right: 7px
}

@media (min-width:768px) {
  .header .navbar-collapse {
    display: block;
    -webkit-flex-basis: initial;
    flex-basis: initial
  }
}

@media (min-width:768px) and (max-width:991.98px) {
  .header .navbar-collapse {
    display: none
  }
}

@media (max-width:991.98px) {
  .header .navbar-collapse .navbar-nav>li {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
  }
  .header .navbar-collapse .navbar-nav>li>a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}

.header.navbar-default {
  background: #fff
}

.header.navbar-default .navbar-brand {
  color: #2d353c
}

.header.navbar-default .navbar-toggle .icon-bar {
  background: #2d353c
}

.header.navbar-default .navbar-nav>li>a {
  color: #2d353c
}

.header.navbar-inverse {
  background: #1a2229
}

.header.navbar-inverse .navbar-toggle {
  color: #6f8293
}

.header.navbar-inverse .navbar-toggle .icon-bar {
  background: #6f8293
}

.header.navbar-inverse .navbar-brand {
  color: #fff
}

@media (max-width:767.98px) {
  .header.navbar-inverse .navbar-nav {
    border-color: #2d353c
  }
}

.header.navbar-inverse .navbar-nav>li>a {
  color: rgba(255, 255, 255, .65)
}

.header.navbar-inverse .navbar-nav>li.active>a {
  background: #2d353c;
  opacity: 1
}

.header.navbar-inverse .navbar-nav>li.divider {
  background: rgba(255, 255, 255, .2)
}

.header.navbar-inverse .navbar-form {
  margin: 10px 0
}

.header.navbar-inverse .navbar-form .form-control {
  background: rgba(255, 255, 255, .25);
  border-color: transparent;
  height: 30px;
  color: #fff
}


.header.navbar-inverse .navbar-form .btn-search {
  color: rgba(255, 255, 255, .5)
}

.has-scroll .header {
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, .15);
  box-shadow: 0 0 16px rgba(0, 0, 0, .15)
}

.sidebar {
  width: 220px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding-top: 50px;
  background: #2d353c;
  z-index: 1010;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0)
}

.sidebar .nav {
  display: block
}

.sidebar .nav>li {
  position: relative
}

.sidebar .nav>li>a {
  padding: 7px 20px;
  line-height: 20px;
  color: rgba(255, 255, 255, .6);
  display: block;
  text-decoration: none
}

.sidebar .nav>li>a i {
  float: left;
  margin-right: 10px;
  width: 14px;
  text-align: center;
  line-height: 20px;
  font-size: 14px
}

.sidebar .nav>li>a i[class^=ion-] {
  margin-right: 8px;
  width: 18px;
  font-size: 18px;
  margin-left: -2px
}

.sidebar .nav>li>a .icon-img {
  float: left;
  margin-right: 10px;
  margin-top: 3px;
  width: 14px;
  height: 14px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center
}

.sidebar .nav>li>a .icon-img img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto
}

.sidebar .nav>li>a .badge {
  padding: 5px 8px;
  background: #1a2229;
  font-weight: 600;
  font-size: 10px
}

.sidebar .nav>li>a .label {
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 8px
}

.sidebar .nav>li>a>span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.sidebar .nav>li>a:focus,
.sidebar .nav>li>a:hover {
  background: 0 0;
  color: #fff
}

.sidebar .nav>li.active>a {
  position: relative;
  z-index: 10;
  color: #fff;
  background: #242b30
}


.sidebar .nav>li.active>a i {
  color: #00acac
}

.gradient-enabled .sidebar .nav>li.active>a i {
  color: rgba(0, 0, 0, .65)
}

.gradient-enabled .sidebar .nav>li.active>a .caret {
  color: rgba(0, 0, 0, .5)
}

.sidebar .nav>li.active>a .badge {
  background: rgba(0, 0, 0, .65)
}

.gradient-enabled .sidebar .nav>li.active>a .label.label-theme {
  background: rgba(0, 0, 0, .65)
}

.sidebar .nav>li.nav-header {
  margin: 0;
  padding: 15px 20px 3px;
  line-height: 20px;
  font-size: 11px;
  color: rgba(255, 255, 255, .45);
  font-weight: 600
}

.sidebar .nav>li.nav-header a {
  padding: 0;
  margin: 0;
  display: inline
}

.sidebar .nav>li.nav-header a:focus,
.sidebar .nav>li.nav-header a:hover {
  background: 0 0;
  color: #fff
}

.sidebar .nav>li.nav-header a i {
  float: none;
  margin: 0
}

.sidebar .nav>li.nav-profile {
  padding: 20px;
  color: #fff;
  background: #1a2229;
  overflow: hidden
}

.sidebar .nav>li.nav-profile a {
  padding: 0
}

.sidebar .nav>li.nav-profile>a {
  margin: -20px;
  padding: 20px;
  display: block;
  color: #fff;
  font-weight: 600
}

img {
  background: url("../img/user-13.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sidebar .nav>li.nav-profile .image {
  width: 34px;
  height: 34px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  background: url("../img/user-13.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-border-radius: 30px;
  border-radius: 30px
}

.sidebar .nav>li.nav-profile .image img {
  max-width: 100%;
  max-height: 100%
}

.sidebar li>a .caret:before {
  content: '\f054';
  display: block;
  text-align: center;
  opacity: .5;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.sidebar .nav>li.nav-profile .info {
  font-size: 14px;
  position: relative;
  text-align: left;
}

.sidebar .nav>li.nav-profile .info .caret {
  margin-top: 2px
}

.with-shadow {
  box-shadow: 0 2px 40px 0 rgba(0,0,0,.1);
}

.sidebar .nav>li.nav-profile .info small {
  display: block;
  color: rgba(255, 255, 255, .75);
  font-size: 12px;
  margin-bottom: -5px
}

.sidebar .nav>li.nav-profile .cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/cover-sidebar-user.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar .nav>li.nav-search {
  padding: 20px
}

.sidebar .nav>li.nav-search+li {
  padding-top: 0
}

.sidebar .nav>li.nav-search .form-control {
  background: 0 0;
  border: none;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  color: #fff;
  -webkit-border-radius: 0;
  border-radius: 0
}

.sidebar .nav>li.nav-search .form-control:focus {
  border-color: rgba(255, 255, 255, .5);
  -webkit-box-shadow: none;
  box-shadow: none
}

.sidebar .nav>li.nav-widget {
  padding: 10px 20px
}

.sidebar .nav>li.nav-widget i {
  margin-right: auto
}

.sidebar .nav>li .text-theme {
  margin-left: 5px
}

.sidebar .nav .has-sub.active>.sub-menu {
  display: block
}

.sidebar .nav .sub-menu>li>a {
  color: rgba(255, 255, 255, .45)
}

.sidebar .nav .sub-menu>li>a .caret {
  margin-top: -1px;
  left: -5px;
  color: rgba(255, 255, 255, .25)
}

.sidebar .nav.nav-profile {
  padding: 5px 0;
  border-bottom: 1px solid #1a2229;
  display: none
}

.sidebar .nav.nav-profile.active {
  display: block
}

.sidebar li>a .caret {
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 11px;
  border: none;
  font-family: Font Awesome\ 5 Free, Font Awesome\ 5 Pro, FontAwesome!important;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto
}

.sidebar .sub-menu {
  list-style-type: none;
  padding: 5px 0 10px 39px;
  margin: 0;
  position: relative;
  display: none
}

.sidebar .sub-menu>li {
  position: relative
}

.sidebar .sub-menu>li>a {
  padding: 3px 20px 3px 15px;
  display: block;
  color: rgba(255, 255, 255, .6);
  text-decoration: none;
  position: relative
}

.sidebar .sub-menu>li>a:focus,
.sidebar .sub-menu>li>a:hover {
  color: #fff
}

.sidebar .sub-menu>li>a:after {
  content: '';
  position: absolute;
  left: -11px;
  top: 11px;
  width: 11px;
  height: 2px;
  background: #242b30
}

.sidebar .sub-menu>li:before {
  content: '';
  position: absolute;
  left: -13px;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #242b30
}

.sidebar .sub-menu>li:after {
  content: '';
  position: absolute;
  left: 0;
  width: 6px;
  height: 6px;
  border: 1px solid rgba(255, 255, 255, .6);
  top: 11px;
  margin-top: -2px;
  z-index: 10;
  background: #2d353c;
  -webkit-border-radius: 4px;
  border-radius: 4px
}

.sidebar .sub-menu>li:first-child:before {
  top: -14px
}

.sidebar .sub-menu>li:first-child:last-child:before {
  height: 27px
}

.sidebar .sub-menu>li:last-child:before {
  bottom: auto;
  height: 13px
}

.sidebar .sub-menu>li.has-sub>a:before {
  background: #242b30
}

.sidebar .sub-menu>li.active>a {
  color: #fff
}

.sidebar .sub-menu .sub-menu {
  padding: 0 0 0 15px;
  background: 0 0
}

.sidebar .sidebar-minify-btn {
  margin: 10px 0;
  float: right;
  padding: 5px 20px 5px 10px!important;
  background: #242b30;
  color: #fff;
  -webkit-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px
}

.sidebar .sidebar-minify-btn i {
  margin: 0!important;
  color: #fff
}

.sidebar .sidebar-minify-btn:focus,
.sidebar .sidebar-minify-btn:hover {
  background: #1c2025!important
}

.sidebar.sidebar-grid .nav>li+li {
  margin-top: -1px
}

.sidebar.sidebar-grid .nav>li>a {
  border-top: 1px solid #3d4852;
  border-bottom: 1px solid #3d4852
}

.sidebar.sidebar-grid .nav>li.expand>a,
.sidebar.sidebar-grid .nav>li.expanding>a {
  border-bottom-color: transparent
}

.sidebar.sidebar-grid .nav>li.active>a {
  border-color: #2d353c
}

.sidebar.sidebar-transparent {
  background: 0 0
}

.sidebar.sidebar-transparent+.sidebar-bg {
  background-size: cover
}

.sidebar.sidebar-transparent .nav>li.active>a {
  background: rgba(0, 0, 0, .3)
}

.sidebar.sidebar-transparent .nav>li.nav-profile {
  background: rgba(0, 0, 0, .25)
}

.sidebar.sidebar-transparent .nav>li.nav-profile a:focus,
.sidebar.sidebar-transparent .nav>li.nav-profile a:hover {
  background: 0 0
}

.sidebar.sidebar-transparent .nav>li.nav-profile .cover {
  background: 0 0
}

.sidebar.sidebar-transparent .nav>li.nav-profile.active {
  background: rgba(0, 0, 0, .25)
}

.sidebar.sidebar-transparent .sub-menu {
  background: 0 0
}

.sidebar-bg {
  background: #2d353c;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 220px;
  z-index: 1000
}
