@font-face {
  font-family: "Roboto";  
  src: url("../fonts/Roboto.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

body {
  margin: 0;
  font-family: Roboto;
}
.content {
  margin-left: 220px;
  padding: 20px 30px;
}
.form-main {
  height: 100vh;
}
.form-title {
  font-weight: 700;
  color: black;
}
.form-title-blue {
  color: blue;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  color: #202002;
}

.title-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.128571px;
  color: #202002;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.button-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.link {
  margin-top: 15px;
}

a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.114286px;
  color: #ADADAD;
}

a:hover {
  text-decoration: none;
  color: #282828;
}